body{
	background-color: red;
}

h1#a{
	margin-top: 300px;
	text-align: center;
}
h1#b{
	text-align: center;
}

h2{
	text-align: center;
}

h3{
	text-align: center;
}

input{
	display: block;
	margin: auto;
}